@CHARSET "UTF-8";
/**
 *
 */
.jmoduploader-progress-container {
	width:            100%;
	background-color: #F6F6F6;
}
/**
 *
 */
.jmoduploader-progress-label {
	padding-left:     0.5em;
}
/**
 *
 */
.jmoduploader-progress-bar {
	height:           100%;
	background-color: #61A3CB;
	color:            #000;
	padding-left:     0.5em;
}